{% extends 'game_app_main/base.html' %}
{% load widget_tweaks %}
{% load my_tags %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Participação Disciplinar</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url 'game_features:homepage' %}">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Detalhe Participação</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-12">

                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title"> <b>Detalhe da participação disciplinar</b></h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                    <h5 class="text-primary"><b>A - Identificação do aluno infrator:</b></h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Turma</label>
                                                <input type="text"  class="form-control" placeholder="{{complaint.turma}}" disabled>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Nome</label>
                                                <input type="text"  class="form-control" placeholder="{{complaint.aluno}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Número</label>
                                                <input type="text"  class="form-control" placeholder="{{complaint.class_number}}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <h5 class="text-primary"><b>B - Local, data e hora da ocorrência:</b></h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Local da ocorrência</label>
                                                <input type="text"  class="form-control" placeholder="{{complaint.local}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Dia da ocorrência</label>
                                                <input type="text"  class="form-control" placeholder="{{complaint.dia}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Hora da ocorrência</label>
                                                <input type="text"  class="form-control" placeholder="{{complaint.hora}}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <h5 class="text-primary"><b>C - Comportamentos incorretos:</b></h5>
                                    <hr>


                                    <div class="row">
                                        <div class="col-sm-6">

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% if complaint.comer %}
                                                                <span class="fa fa-check-square"></span>
                                                            {% else %}
                                                                <span class="fa fa-square"></span>
                                                            {% endif %}
                                                            <label class="form-check-label"> {{ complaint_vb.comer }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% if complaint.levantar %}
                                                            <span class="fa fa-check-square"></span>
                                                            {% else %}
                                                            <span class="fa fa-square"></span>
                                                            {% endif %}
                                                            <label class="form-check-label"> {{ complaint_vb.levantar }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.conversar}}
                                                            <label class="form-check-label"> {{ complaint.conversar.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.entradar_sair_desordeira }}
                                                            <label class="form-check-label"> {{ complaint.entradar_sair_desordeira.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.patrimonio}}
                                                            <label class="form-check-label"> {{ complaint.patrimonio.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.recolher_imagens }}
                                                            <label class="form-check-label"> {{ complaint.recolher_imagens.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.fumar}}
                                                            <label class="form-check-label"> {{ complaint.fumar.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.regras_espaços }}
                                                            <label class="form-check-label"> {{ complaint.regras_espaços.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.aparelhos_eletronicos}}
                                                            <label class="form-check-label"> {{ complaint.aparelhos_eletronicos.label }}</label>
                                                        </div>
                                                    </div>

                                        </div>
                                        <!-- COLUNA 1-->


                                        <div class="col-sm-6">

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.linguagem }}
                                                            <label class="form-check-label"> {{ complaint.linguagem.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">

                                                            <label class="form-check-label"> {{ complaint.ofender_colegas.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.ameacar}}
                                                            <label class="form-check-label"> {{ complaint.ameacar.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.recusar_trabalhar}}
                                                            <label class="form-check-label"> {{ complaint.recusar_trabalhar.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.abandonar_aula}}
                                                            <label class="form-check-label"> {{ complaint.abandonar_aula.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.Ofender_prof_fun }}
                                                            <label class="form-check-label"> {{ complaint.Ofender_prof_fun.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.roubar }}
                                                            <label class="form-check-label"> {{ complaint.roubar.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{ complaint.nao_obedecer }}
                                                            <label class="form-check-label"> {{ complaint.nao_obedecer.label }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {{complaint.agredir}}
                                                            <label class="form-check-label"> {{ complaint.agredir.label }}</label>
                                                        </div>
                                                    </div>
                                        </div>

                                    </div>
                                    <!-- ROW-->

                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ complaint.contextualizacao.label }}</label>

                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <h5 class="text-primary"><b>D - Informação complementar:</b></h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ complaint.atividade.label }}</label>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group clearfix">
                                                <div class="icheck-alizarin d-inline">

                                                    <label class="form-check-label"> {{ complaint.ordem_saida.label }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <div class="icheck-alizarin d-inline">

                                                    <label class="form-check-label"> {{ complaint.falta.label }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ complaint.tarefa.label }}</label>

                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <!-- Autor da Participação -->
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">Participação feita por</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label>Nome: </label>
                                                        <input type="text"  class="form-control" placeholder="{{complaint.user.name}}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Na qualidade de:</label>
                                                        <input type="text"  class="form-control" placeholder="{{complaint.user.get_type}}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Data:</label>
                                                        <input type="text"  class="form-control" placeholder="{{complaint.created}}" disabled>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Fim de Autor da Perticipação -->

                                    <br>

                                    <!-- Botão de submeter e cancelar -->
                                    <div class="row">
                                        <div class="col text-center">
                                            <a href="{% url 'game_features:homepage' %}" id="voltar" class="btn btn-outline-primary">
                                                <b>voltar</b>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Fim de Botão de submeter  e cancelar-->




                            </div>

                        </div>
                        <!-- /.end Cartão -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}
