{% extends 'game_app_main/base.html' %}
{% load widget_tweaks %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Participação Disciplinar</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">General Form</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-12">

                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title"> <b>Formulário de participação disciplinar</b></h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <form method="post" id="participacaoForm"
                                      data-alunos-url="{% url 'game_features:ajax_load_alunos' %}"
                                      data-numero-aluno-url="{% url 'game_features:ajax_load_numero_aluno' %}" novalidate>
                                    {% csrf_token %}

                                    <h5 class="text-primary"><b>A - Identificação do aluno infrator:</b></h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Turma</label>
                                                {% render_field form.turma class="form-control" placeholder=field.label %}
                                            </div>

                                            <!-- Erros neste campo -->
                                            {% for error in form.turma.errors %}
                                                <h6 class="text-danger" style="list-style-type: square;">
                                                    <ul>
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    </ul>
                                                </h6>
                                            {% endfor %}

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Nome</label>
                                                {% render_field form.aluno class="form-control" placeholder=field.label %}
                                            </div>

                                            <!-- Erros neste campo -->
                                            {% for error in form.aluno.errors %}
                                                <h6 class="text-danger" style="list-style-type: square;">
                                                    <ul>
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    </ul>
                                                </h6>
                                            {% endfor %}

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Número</label>
                                                {% render_field form.class_number class="form-control" placeholder=field.label disabled="disabled" %}
                                            </div>

                                            {% for error in form.class_number.errors %}
                                                <h6 class="text-danger" style="list-style-type: square;">
                                                    <ul>
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    </ul>
                                                </h6>
                                            {% endfor %}

                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <h5 class="text-primary"><b>B - Local, data e hora da ocorrência:</b></h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.local.label }}</label>
                                                {% render_field form.local class="form-control" placeholder=field.label %}
                                            </div>

                                            {% for error in form.local.errors %}
                                                <h6 class="text-danger" style="list-style-type: square;">
                                                    <ul>
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    </ul>
                                                </h6>
                                            {% endfor %}


                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>{{ form.dia.label }}</label>
                                                {% render_field form.dia class="form-control" placeholder=field.label %}
                                            </div>

                                            {% for error in form.dia.errors %}
                                                <h6 class="text-danger" style="list-style-type: square;">
                                                    <ul>
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    </ul>
                                                </h6>
                                            {% endfor %}

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>{{ form.hora.label }}</label>
                                                {% render_field form.hora type="time" class="form-control" placeholder=field.label %}
                                            </div>

                                            {% for error in form.hora.errors %}
                                                <h6 class="text-danger" style="list-style-type: square;">
                                                    <ul>
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    </ul>
                                                </h6>
                                            {% endfor %}

                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <h5 class="text-primary"><b>C - Comportamentos incorretos:</b></h5>
                                    <hr>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% for field in form %}

                                                {% if field.name == "comer" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "levantar" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "conversar" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "entradar_sair_desordeira" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "patrimonio" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "recolher_imagens" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "fumar" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "regras_espaços" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "aparelhos_eletronicos" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            {% endfor %}
                                        </div>
                                        <!-- COLUNA 1-->


                                        <div class="col-sm-6">
                                            {% for field in form %}

                                                {% if field.name == "linguagem" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "ofender_colegas" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "ameacar" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "recusar_trabalhar" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "abandonar_aula" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "Ofender_prof_fun" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "roubar" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "nao_obedecer" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if field.name == "agredir" %}
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-alizarin d-inline">
                                                            {% render_field field class="list-unstyled d-inline" %}
                                                            <label class="form-check-label"> {{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            {% endfor %}
                                        </div>

                                    </div>
                                    <!-- ROW-->

                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.contextualizacao.label }}</label>
                                                {% render_field form.contextualizacao class="form-control" rows="5" %}
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <h5 class="text-primary"><b>D - Informação complementar:</b></h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.atividade.label }}</label>
                                                {% render_field form.atividade class="form-control" placeholder=field.label %}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group clearfix">
                                                <div class="icheck-alizarin d-inline">
                                                    {% render_field form.ordem_saida class="list-unstyled d-inline" %}
                                                    <label class="form-check-label"> {{ form.ordem_saida.label }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <div class="icheck-alizarin d-inline">
                                                    {% render_field form.falta class="list-unstyled d-inline" %}
                                                    <label class="form-check-label"> {{ form.falta.label }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.tarefa.label }}</label>
                                                {% render_field form.tarefa class="form-control" rows="2" %}
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <!-- Autor da Participação -->
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">Participação feita por</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label>Nome: </label>
                                                        <input type="text"  class="form-control" placeholder="{{request.user.name}}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Na qualidade de:</label>
                                                        <input type="text"  class="form-control" placeholder="{{request.user.get_type}}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Data:</label>
                                                        <input type="text"  class="form-control" placeholder="{% now 'D d M Y' %}" disabled>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Fim de Autor da Perticipação -->

                                    <br>

                                    <!-- Botão de submeter -->
                                    <div class="row">
                                        <div class="col text-center">
                                            <button type="submit" id="submeter" class="btn btn-outline-danger ">
                                                <b>submeter formulário de participação disciplinar</b>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Fim de Botão de submeter -->

                                </form>

                            </div>

                        </div>
                        <!-- /.end Cartão -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}
