{% extends 'game_app_main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <a href="{% url 'game_features:complaint_add' %}">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box shadow">
                        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Criar nova participação disciplinar</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            {% if my_complaints %}
                <div class="row">
                <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">As minhas participações &nbsp</h3>
                        <span class="badge bg-gray"> {{ my_complaints.count }} </span>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" >
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Turma</th>
                                <th>DT</th>
                                <th>Aluno Arguido</th>
                                <th>Data da <br> ocorrência</th>
                                <th>Data da <br> participação</th>
                                <th>Estado</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for complaint in my_complaints %}
                                <tr>
                                    <td>{{ complaint.id }}</td>
                                    <td>{{ complaint.turma }}</td>
                                    <td>{{ complaint.dt.get_first_name }} {{ complaint.dt.get_last_name }}</td>
                                    <td>{{ complaint.class_number}} - {{ complaint.aluno }}</td>
                                    <td>{{ complaint.dia|date:"d/M/Y" }}</td>
                                    <td>
                                        {{ complaint.created|date:"d/M/Y" }}
                                        <br>
                                        Hora: {{ complaint.created|time:"G:i" }}
                                    </td>
                                    <td>
                                        <h5>
                                            <span
                                                {% if complaint.estado == "ANALISE" %}
                                                    class="badge badge-pill badge-warning">
                                                {% elif complaint.estado == "PROCEDIMENTO" %}
                                                    class="badge badge-pill badge-danger">
                                                {% else %}
                                                    class="badge badge-pill badge-success">
                                                {% endif %}
                                                {{ complaint.get_estado_display }}
                                            </span>
                                        </h5>
                                    </td>
                                    <td>
                                        <a href="{{ complaint.get_absolute_url }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            {% endif %}

            {% if my_dt_complaints %}
                <div class="row">
                <div class="col-12">
                <div class="card card-green">
                    <div class="card-header">
                        <h3 class="card-title">
                            Participações da minha Direção de Turma
                            &nbsp
                        </h3>
                        <span class="badge bg-gray"> {{ my_dt_complaints.count }} </span>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Denunciante</th>
                                <th>Turma</th>
                                <th>Aluno Arguido</th>
                                <th>Data da <br> ocorrência</th>
                                <th>Data da <br> participação</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for complaint in my_dt_complaints %}
                                <tr>
                                    <td>{{ complaint.id }}</td>
                                    <td>
                                        {{ complaint.user.get_first_name}} {{ complaint.user.get_last_name}}
                                        <br>
                                        ({{ complaint.get_qualidade_display }})
                                    </td>
                                    <td>{{ complaint.turma }}</td>
                                    <td>{{ complaint.class_number}} - {{ complaint.aluno }}</td>
                                    <td>{{ complaint.dia|date:"d/M/Y" }}</td>
                                    <td>
                                        {{ complaint.created|date:"d/M/Y" }}
                                        <br>
                                        Hora: {{ complaint.created|time:"G:i" }}
                                    </td>
                                    <td>
                                        <h5>
                                            <span
                                                {% if complaint.estado == "ANALISE" %}
                                                    class="badge badge-pill badge-warning">
                                                {% elif complaint.estado == "PROCEDIMENTO" %}
                                                    class="badge badge-pill badge-danger">
                                                {% else %}
                                                    class="badge badge-pill badge-success">
                                                {% endif %}
                                                {{ complaint.get_estado_display }}
                                            </span>
                                        </h5>
                                    </td>
                                    <td>
                                        <a href="{{ complaint.get_absolute_url }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        &nbsp
                                        <a href="#">
                                            <i class="fa fa-gavel"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            {% endif %}


            {% if all_complaints %}
                <div class="row">
                <div class="col-12">
                <div class="card card-fuchsia">
                    <div class="card-header">
                        <h3 class="card-title">Equipa GAME - Todas as participações &nbsp </h3>
                        <span class="badge bg-gray">{{ all_complaints.count }}</span>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Denunciante</th>
                                <th>Turma</th>
                                <th>DT</th>
                                <th>Aluno Arguido</th>
                                <th>Data da <br> ocorrência</th>
                                <th>Data da <br> participação</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for complaint in all_complaints %}
                                <tr>

                                    <td>{{ complaint.id }}</td>
                                    <td>
                                        {{ complaint.user.get_first_name}} {{ complaint.user.get_last_name}}
                                        <br>
                                        ({{ complaint.get_qualidade_display }})
                                    </td>
                                    <td>{{ complaint.turma }}</td>
                                    <td>{{ complaint.dt.get_first_name }} {{ complaint.dt.get_last_name }}</td>
                                    <td>{{ complaint.class_number}} - {{ complaint.aluno }}</td>
                                    <td>{{ complaint.dia|date:"d/M/Y" }}</td>
                                    <td>
                                        {{ complaint.created|date:"d/M/Y" }}
                                        <br>
                                        Hora: {{ complaint.created|time:"G:i" }}
                                    </td>
                                    <td>
                                        <h5>
                                            <span
                                                {% if complaint.estado == "ANALISE" %}
                                                    class="badge badge-pill badge-warning">
                                                {% elif complaint.estado == "PROCEDIMENTO" %}
                                                    class="badge badge-pill badge-danger">
                                                {% else %}
                                                    class="badge badge-pill badge-success">
                                                {% endif %}
                                                {{ complaint.get_estado_display }}
                                            </span>
                                        </h5>
                                    </td>
                                    <td>
                                        <a href="{{ complaint.get_absolute_url }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        &nbsp
                                        <a href="#">
                                            <i class="fa fa-gavel"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer card-gray-dark clearfix">
                    </div>
                </div>
                <!-- /.card -->
            {% endif %}





          </div>
        </div>









        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

